# =============================================================================
# .gitignore pour le projet P5 OpenClassrooms
# =============================================================================

# Fichiers temporaires et logs
*.log
*.swp
*.tmp
.DS_Store
Thumbs.db

# Dossiers de build et cache
/.cache/
/.terraform/
/terraform.tfstate*
/terraform.lock.hcl

# Fichiers locaux Ansible
/ansible.cfg
/ansible.log

# Fichiers de dépendances (optionnel)
/node_modules/
/package-lock.json

# Fichiers IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Fichiers de test ou exemples non nécessaires
/test/
/venv/

# Fichiers de configuration locale
.env
*.local

# Fichiers générés automatiquement
*.pyc
__pycache__/
