# =============================================================================
# EXERCICE 2 : Template de configuration du module NGINX pour Filebeat
# =============================================================================

- module: nginx
  enabled: true
  
  access:
    enabled: true
    var.paths: ["/var/log/nginx/access.log*"]
    
  error:
    enabled: true
    var.paths: ["/var/log/nginx/error.log*"]
  
  ingress:
    enabled: false
  
  var.log_format: "$remote_addr - $remote_user [$time_local] \"$request\" $status $body_bytes_sent \"$http_referer\" \"$http_user_agent\""
