# =============================================================================
# EXERCICE 2 : Template de configuration OpenSearch
# =============================================================================

cluster.name: {{ opensearch_cluster_name }}
node.name: {{ opensearch_node_name }}
node.roles: [ master, data, ingest ]

network.host: {{ opensearch_network_host }}
network.bind_host: 0.0.0.0
network.publish_host: _site_

discovery.type: {{ opensearch_discovery_type }}

path.data: {{ opensearch_data_dir }}
path.logs: {{ opensearch_logs_dir }}

http.port: 9200
transport.port: 9300

bootstrap.memory_lock: false

plugins.security.disabled: true
plugins.security.ssl.transport.enabled: false

action.destructive_requires_name: false
cluster.routing.allocation.disk.threshold_enabled: false
